
// Widths
$site-max-width: 1170px;
$centered: 0 auto;

// Fonts
$global-font: 'Montserrat', sans-serif;
$header-font: 'Sacramento', cursive;
$header-font-size: 1.9em;
$header-font-weight: 200;
$content-weight: 100;

// Colours
$header-colour: #bfbfbf;
$header-colour-opaque: rgba(191,191,191, 0.3);
$brand-red: #e60020;
$main-body-font: #888787;
$white: #ffffff;
$black: #333333;
$fine-line-colour: #ede9dd;